header {
  text-align: center;
}

label {
  white-space: pre;
}

.row {
  display: flex;
  align-items: center;
}

content .dynamic-list-container {
  width: 600px;
  height: 600px;
  margin: auto;
}

content .filter-container {
    width: 600px;
    margin: auto;
    margin-bottom: 2em;
}
