header {
  text-align: center;
}

.resizable-container {
  margin: auto;
}

content .dynamic-list-container {
  width: 100%;
  height: 100%;
}

content .filter-container {
    width: 600px;
    margin: auto;
    margin-bottom: 2em;
    display: flex;
}
